---
BasedOnStyle: Google
IndentWidth: 4
SortIncludes: false
AccessModifierOffset: -4
ContinuationIndentWidth: 4
AlignAfterOpenBracket: true
AlignOperands: true
AlignTrailingComments: true
MaxEmptyLinesToKeep: 2
SeparateDefinitionBlocks: Always
EmptyLineBeforeAccessModifier: LogicalBlock
SpacesBeforeTrailingComments: 1
KeepEmptyLinesAtTheStartOfBlocks: true
# AllowShortBlocksOnASingleLine: false
# AllowShortFunctionsOnASingleLine: false
# AllowShortIfStatementsOnASingleLine: false
# AllowShortLoopsOnASingleLine: false
# AllowShortCaseLabelsOnASingleLine: false
---
Language: Proto
BasedOnStyle: Google
IndentWidth: 4
AlignConsecutiveAssignments: true
# Don't format .proto files.
# DisableFormat: false

